{% extends 'base.html'%} {% load static %} {% block content %}
    <section id="background">
        <div id=pendidikan>
            My Education
        </div>
        <div class="row">
            <div class="col-lg-6">
                <img id="esde" img src="{% static 'Sd.png' %}">
            </div>
            <div  class="col-lg-6" id="sd">
                <h5 id="sdn">SD Negeri 04 Biaro</h5>
                <h5 id="tsd">2006 - 2012</h5>
            </div>
        
        </div>

        <div class="row">
            <div class="col-lg-6">
                <img id="smp" img src="{% static 'Smp.png' %}">
            </div>
            <div  class="col-lg-6" id="smp1">
                <h5 id="smpn">SMP Negeri 1 Ampek Angkek</h5>
                <h5 id="tsmp">2012 - 2015</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <img id="sma" img src="{% static 'Sma.jpeg' %}">
            </div>
            <div  class="col-lg-6" id="sma1">
                <h5 id="sman">SMP Negeri 1 Bukittinggi</h5>
                <h5 id="tsma">2015 - 2018</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <img id="UI" img src="{% static 'UI.png' %}">
            </div>
            <div  class="col-lg-6" id="uwiw">
                <h5 id="univ">Fakultas Ilmu Komputer Universitas Indonesia</h5>
                <h5 id="univer">2019 - Sekarang</h5>
            </div>
        </div>


    </section>

    <hr/>
    
    <section id="background">
        <div id=experience>
            My Experience
        </div>
        <div class="row">
            <div class="col-lg-6">
                <img id="oh" img src="{% static 'OH.png' %}">
            </div>
            <div  class="col-lg-6" id="open">
                <h5 id="oph">Staff of Public Relation Open House Fasilkom</h5>
            </div>
        
        </div>

        <div class="row">
            <div class="col-lg-6">
                <img id="prk" img src="{% static 'perak.jpeg' %}">
            </div>
            <div  class="col-lg-6" id="perak">
                <h5 id="prak">Staff of Event Pesta Rakyat Komputer</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <img id="cf" img src="{% static 'compfest.jpeg' %}">
            </div>
            <div  class="col-lg-6" id="cp">
                <h5 id="comp">Staff of Direct Marketing COMPFEST 12</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <img id="bem" img src="{% static 'bem.png' %}">
            </div>
            <div  class="col-lg-6" id="bemp">
                <h5 id="senbud">Staff of Art and Culture Division BEM Fasilkom UI</h5>
            </div>
        </div>


    </section>

    <hr/>


    <section id="background">
        <div id=traits>
            Things I'm Intrested in
        </div>
        <div class="row">
            <div class="col-lg-6">
                <img id="sing" img src="{% static 'sing.png' %}">
            </div>
            <div  class="col-lg-6" id="Sing">
                <h5 id="singing">Singing</h5>
            </div>
        
        </div>

        <div class="row">
            <div class="col-lg-6">
                <img id="read" img src="{% static 'read.png' %}">
            </div>
            <div  class="col-lg-6" id="Read">
                <h5 id="reading">Reading</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <img id="ps" img src="{% static 'public speaking.png' %}">
            </div>
            <div  class="col-lg-6" id="public">
                <h5 id="speak">Public Speaking</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <img id="listen" img src="{% static 'music.png' %}">
            </div>
            <div  class="col-lg-6" id="Listen">
                <h5 id="listening">Listening to the music</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <img id="si" src="{% static 'social.png' %}">
            </div>
            <div  class="col-lg-6" id="social">
                <h5 id="socials">Social Interaction</h5>
            </div>
        </div>

    </section>

    <hr/>

<section id="background">
    <div id=skills>
        Skills
    </div>
    <div class="row">
        <div  class="col-lg-6" id="publicspeak">
            <h5 id="publics">Public Speaking</h5>
        </div>
        <div class="col-lg-6">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
        </div>
        
    </div>

    <div class="row">
        <div  class="col-lg-6" id="py">
            <h5 id="python">Python</h5>
        </div>
        <div class="col-lg-6">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>

        </div>
        
    </div>

    <div class="row">
        <div  class="col-lg-6" id="indo">
            <h5 id="bindo">Bahasa Indonesia</h5>
        </div>
        <div class="col-lg-6">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
        </div>
        
    </div>

    <div class="row">
        <div  class="col-lg-6" id="eng">
            <h5 id="english">English</h5>
        </div>
        <div class="col-lg-6">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>

        </div>
        
    </div>

    <hr/>

</section>

<section id="background">
    <div id="sosmed">
        <h2>Find me at :</h2>
    </div>

    <ul class="social-icons">
        <li><a href="http://instagram.com/andreas_ilham"><img src="{% static 'Instagram.png' %}"/></a></li>
        <li><a href="http://www.twitter.com/aan_guys"><img src="{% static 'twitter.png' %}"/></a></li>
        <li><a href="https://www.linkedin.com/in/andreas-ilham-65a358194"><img src="{% static 'Linkedin.png' %}"/></a></li>
        <li><a href="http://line.me/ti/p/aan.cute"><img src="{% static 'Line.png' %}"/></a></li>
    </ul>
    
    {% endblock %}
   
