{% extends 'base.html'%} {% load static %} {% block content %}
    <section id="background">
      <div>
        <h2 id="atas">
          <marquee behavior="scroll" direction="left" scrollamount="30">Welcome to my Personal Website :D</marquee>
        </h2>
      </div>
        <div class="row">
            <div class="col-lg-6">
                <img id="img" src="{% static 'Foto.png' %}">
            </div>
            <div class="col-lg-6" id="Deskripsi">
                <h2 id="desk">Deskripsi Diri</h2>
                <p id="isi">Saya merupakan mahasiswa jurusan Sistem Informasi Fakultas Ilmu Komputer Universitas Indonesia. Banyak yang bilang saya orang yang pemalu serta pendiam. Saya mempunyai motto hidup yaitu “If You Think You Can, You Can”. Saya adalah orang yang sangat suka bersosialisasi walaupun pendiam.</p>
            </div>
        </div>
    </section>
    <section>
        <div id="button" >
            <a href="{% url 'storyaan:comingsoon' %}" class="btn btn-primary" >Coming Soon>></a>
        </div>
    </section>
    {% endblock %}