{% extends 'base.html'%} {% load static %} {% block content %}
    <dd class="col-lg-9">
        <h1 id="atas">Something New <br>is about to Come.</h1>
        <br>
        <h2 id="atas">------Coming Soon!</h2>
    </dd>
    {% endblock %}


