#body {
    background: linear-gradient(180deg, #23CAD9 0.01%, #53D2DD 18.23%, #A9E1E7 100%), #53D2DD;
    mix-blend-mode: normal;
}


.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .9);
}

element.style {
    justify-content: space-between;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

#navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /*padding: 5rem 10rem;*/
    padding-bottom: 4rem;
    padding-top: 4rem;
}


.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    margin-left: 25px;
    margin-right: 50px;
}

#collapse {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    font-weight: 700px;
    line-height: 1.0;
    color: #212529;
    text-align: left;
    background-color: #dcebec;
}

#img {
    vertical-align: middle;
    border-style: none;
    padding-left: 50px;
    padding-bottom: 50px;
    width: auto;
    height: 500px;
    
    padding-top: 55px;
}

#Deskripsi {
    font-family: 'Press Start 2P', cursive;
}

#desk {
    position: absolute;
    width: auto;
    height: 138px;
    left: -300px;
    top: 55px;
}

#isi {
    position: absolute;
    line-height: 50px;
    width: 800px;
    height: 50px;
    left: -300px;
    top: 100px;
}

#background {
    padding-top: 50px;
    padding-bottom: 60px;
    width: auto;
}

#atas {
    font-size: xx-large;
    font-family: 'Press Start 2P', cursive;
    width: auto;
}

#pendidikan {
    font-family: 'Press Start 2P', cursive;    
    padding-left: 100px;
    width: auto;
    height: 25px;
    max-width: 100%;
    padding-top: auto;
    font-size: xx-large;
}

#esde {
    vertical-align: middle;
    border-style: none;
    padding-left: 65px;
    padding-bottom: 25px;
    width: auto;
    height: 250px;
    max-width: 50%;
    padding-top: 90px;

}

#smp {
    vertical-align: middle;
    border-style: none;
    padding-left: 110px;
    padding-bottom: 30px;
    width: auto;
    height: 150px;
    max-width: 100%;
    padding-top: 15p;

}

#sma {
    vertical-align: middle;
    border-style: none;
    padding-left: 100px;
    padding-bottom: auto;
    width: auto;
    height: 125px;
    max-width: 100%;
    padding-top: 10px;

}
#UI {
    vertical-align: middle;
    border-style: none;
    padding-left: 100px;
    padding-bottom: 65px;
    width: auto;
    height: 225px;
    max-width: 100%;
    padding-top: 40px;

}

#sd {
    font-family: 'Press Start 2P', cursive;
}

#sdn {
    position: absolute;
    width: auto;
    height: 138px;
    left: -450px;
    top: 120px;
}

#tsd {
    position: absolute;
    line-height: 25px;
    width: 800px;
    height: 50px;
    left: -450px;
    top: 170px;
}

#smp1 {
    font-family: 'Press Start 2P', cursive;
}

#smpn {
    position: absolute;
    width: auto;
    height: 138px;
    left: -450px;
    top: 30px;
}

#tsmp {
    position: absolute;
    line-height: 25px;
    width: 800px;
    height: 50px;
    left: -450px;
    top: 80px;
}

#sma1 {
    font-family: 'Press Start 2P', cursive;
}

#sman {
    position: absolute;
    width: auto;
    height: 138px;
    left: -450px;
    top: 30px;
}

#tsma {
    position: absolute;
    line-height: 25px;
    width: 800px;
    height: 50px;
    left: -450px;
    top: 80px;
}

#uwiw {
    font-family: 'Press Start 2P', cursive;
}

#univ {
    position: absolute;
    width: auto;
    height: 138px;
    left: -450px;
    top: 50px;
}

#univer {
    position: absolute;
    line-height: 25px;
    width: 800px;
    height: 50px;
    left: -450px;
    top: 100px;
}

hr {
    display: block;
    height: 50px;
    border: 5;
    border-top: 25px solid #3fa2ab;
    margin: 5cm 3;
    padding: 0;
}

#experience {
    font-family: 'Press Start 2P', cursive;    
    padding-left: 1000px;
    width: auto;
    height: 25px;
    max-width: 100%;
    padding-top: auto;
    font-size: xx-large;
}

#oh {
    vertical-align: middle;
    border-style: none;
    padding-left: 650px;
    padding-bottom: 35px;
    width: auto;
    height: 250px;
    max-width: 150%;
    padding-top: 80px;

}

#prk {
    vertical-align: middle;
    border-style: none;
    padding-left: 650px;
    padding-bottom: 15px;
    width: auto;
    height: 150px;
    max-width: 150%;
    padding-top: auto;

}

#cf {
    vertical-align: middle;
    border-style: none;
    padding-left: 650px;
    padding-bottom: auto;
    width: auto;
    height: 153px;
    max-width: 150%;
    padding-top: 20px;

}
#bem {
    vertical-align: middle;
    border-style: none;
    padding-left: 650px;
    padding-bottom: 35px;
    width: auto;
    height: 225px;
    max-width: 150%;
    padding-top: 35px;

}

#open {
    font-family: 'Press Start 2P', cursive;
}

#oph {
    position: absolute;
    width: 500px;
    height: auto;
    left: 100px;
    top: 120px;
}

#perak {
    font-family: 'Press Start 2P', cursive;
}

#prak {
    position: absolute;
    width: 550px;
    height: auto;
    left: 100px;
    top: 50px;
}

#cp {
    font-family: 'Press Start 2P', cursive;
}

#comp {
    position: absolute;
    width: 550px;
    height: auto;
    left: 100px;
    top: 60px;
}

#bemp {
    font-family: 'Press Start 2P', cursive;
}

#senbud {
    position: absolute;
    width: 500px;
    height: auto;
    left: 100px;
    top: 75px;
}

hr {
    display: block;
    height: 50px;
    border: 5;
    border-top: 25px solid #3fa2ab;
    margin: 5cm 3;
    padding: 0;
}

#traits {
    font-family: 'Press Start 2P', cursive;    
    padding-left: 100px;
    width: 1000px;
    height: 25px;
    max-width: 100%;
    padding-top: auto;
    font-size: xx-large;
}

#sing {
    vertical-align: middle;
    border-style: none;
    padding-left: 100px;
    padding-bottom: auto;
    width: auto;
    height: 300px;
    max-width: 150%;
    padding-top: 100px;

}

#read {
    vertical-align: middle;
    border-style: none;
    padding-left: 800px;
    padding-bottom: auto;
    width: auto;
    height: 225px;
    max-width: 150%;
    padding-top: auto;

}

#ps {
    vertical-align: middle;
    border-style: none;
    padding-left: 100px;
    padding-bottom: auto;
    width: auto;
    height: 225px;
    max-width: 150%;
    padding-top: auto;

}

#listen {
    vertical-align: middle;
    border-style: none;
    padding-left: 800px;
    padding-bottom: auto;
    width: auto;
    height: 250px;
    max-width: 150%;
    padding-top: auto;

}

#si {
    vertical-align: middle;
    border-style: none;
    padding-left: 100px;
    padding-bottom: auto;
    width: auto;
    height: 225px;
    max-width: 100%;
    padding-top: auto;
}

#Sing {
    font-family: 'Press Start 2P', cursive;
}

#singing {
    position: absolute;
    width: auto;
    height: 138px;
    left: -350px;
    top: 200px;
}

#Read {
    font-family: 'Press Start 2P', cursive;
}

#reading {
    position: absolute;
    width: auto;
    height: 138px;
    left: 400px;
    top: 100px;
}

#public {
    font-family: 'Press Start 2P', cursive;
}

#speak {
    position: absolute;
    width: auto;
    height: 138px;
    left: -350px;
    top: 110px;
}

#Listen {
    font-family: 'Press Start 2P', cursive;
}

#listening {
    position: absolute;
    width: 250px;
    height: auto;
    left: 400px;
    top: 125px;
}

#social {
    font-family: 'Press Start 2P', cursive;
}

#socials {
    position: absolute;
    width: 550px;
    height: auto;
    left: -350px;
    top: 100px;
}

hr {
    display: block;
    height: 50px;
    border: 5;
    border-top: 25px solid #3fa2ab;
    margin: 5cm 3;
    padding: 0;
}

#skills {
    font-family: 'Press Start 2P', cursive;    
    padding-left: 600px;
    width: auto;
    height: 25px;
    max-width: 100%;
    padding-top: auto;
    font-size: xx-large;
}

.checked {
    padding-left: 50px;
    color: orange;
    padding-top: 150px;
    size: 150px;
    
  
}

#publicspeak {
    font-family: 'Press Start 2P', cursive;
}

#publics {
    position: absolute;
    width: 250px;
    height: auto;
    left: 450px;
    padding-top: 150px;
}


#py {
    font-family: 'Press Start 2P', cursive;
}

#python {
    position: absolute;
    width: 250px;
    height: auto;
    left: 450px;
    top: 150px;
}

#indo {
    font-family: 'Press Start 2P', cursive;
}

#bindo {
    position: absolute;
    width: 250px;
    height: auto;
    left: 450px;
    top: 150px;
    bottom: 50px;
}

#eng {
    font-family: 'Press Start 2P', cursive;
}

#english {
    position: absolute;
    width: 250px;
    height: auto;
    left: 450px;
    top: 150px;
}

hr {
    display: block;
    height: 50px;
    border: 5;
    border-top: 25px solid #3fa2ab;
    margin: 5cm 3;
    padding: 0;
}

#sosmed{
    text-align: center;
    font-family: 'Press Start 2P', cursive;    
    
    width: auto;
    height: 25px;
    max-width: 100%;
    padding-top: auto;
    font-size: xx-large;
}

.social-icons {
    text-align: center;
    }  
  .social-icons li {
    display:inline-block;
    list-style-type:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    }
  .social-icons li a {
    border-bottom: none;
    }
  .social-icons li img {
    width:auto;
    height:100px;
    max-width: 250%;
    margin-right: 50px;
    padding-top: 50px;

  }

  .col-lg-9 h1{
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #3fa2ab;
    text-align: unset;
    font-size: 80px;
    margin-left: 16px;
    margin-top: 40%;
}
.col-lg-9 h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #3fb2ba;
    margin-left: 16px;
}

#button{
    padding-left: 1250px;
    top: 150px;
    bottom: 150px;
    
}















