<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>
                Story 1 : Profil Andreas Ilham
        </title>

        <center><h2 style="color: cadetblue;">Halloo guuyysss</h2></center>
        <center><h2 style="color: cadetblue;">Welcome to my websiteeee :)</h2></center>

        <div id="foto profil">
            <center><img src="{% static 'Foto.png' %}"style="width: auto; height: auto; max-width: 50%;"</center>
            
        </div>

   </head>


    <body>
        <style>
            body{
                background-color:bisque
            }
            img {
                image-orientation: from-image;
            }
        </style>
    
    <div id="Biodata">
        <center><h2>Ini beberapa informasi tentang aku yaa :D</h2></center>
        <h4>Nama : Andreas Ilham</h2>
        <h4>NPM : 1906399543</h2>
        <h4>Angkatan: Maung 2019</h2>
        <h4>Tempat Kuliah : Universitas Indonesia</h2>
        <h4>Hobi : Membaca, Menyanyi, dan Makan</h2>
    </div>
    
    <div id="Deskripsi Diri">
        <h2>Deskripsi Diri</h2>
        <p>Saya adalah seseorang yang sangat suka bersosialisasi, serta suka public speaking. Berbicara di hadapan orang banyak melatih saya untuk bisa berani tampil. Sekarang saya merupakan mahasiswa jurusan Sistem Informasi di Universitas Indonesia.</p>
    </div>



    <div id="Riwayat Pendidikan">
        <center><h2>Riwayat Pendidikan</h2></center>
        <center><table class="Pendidikan"></center>
            <style>
                table.Pendidikan td, tr {
                    border: 1px solid brown;}
                table.Pendidikan {
                    border-collapse: collapse;}
                table.Pendidikan {
                    padding: 8px;}
            </style>

            <tr align="center">
                <td><strong>Pendidikan</strong></td>
                <td><strong>Tahun</strong></td>
            </tr>

            <tr>
                <td align="center">TK Islan Al-Falah Kota Bukittinggi</td>
                <td align="center">2005 - 2006</td>
            </tr>

            <tr>
                <td align="center">SD Negeri 04 Biaro</td>
                <td align="center">2006 - 2012</td>
            </tr>

            <tr>
                <td align="center">SMP Negeri 1 IV Angkek</td>
                <td align="center">2012 - 2015</td>
            </tr>

            <tr>
                <td align="center">SMA Negeri 1 Bukittinggi</td>
                <td align="center">2015 - 2018</td>
            </tr>

            <tr>
                <td align="center"> Fakultas Ilmu Komputer Universitas Indonesia </td>
                <td align="center">2019 - Sekarang</td>
            </tr>

        </table>
    </div>
   
    <div id="Social Media">
        <center><h2>Find me at :</h2></center>
            <center><a href="http://instagram.com/andreas_ilham" target="_blank">
                <img src="{% static 'Instagram.png' %}"
            width="50" height="50">
            </a></center>

            <center><a href="http://line.me/ti/p/aan.cute" target="_blank">
                <img src="{% static 'Line.png' %}"
            width="50" height="50">
            </a></center>

            <center><a href="https://www.linkedin.com/in/andreas-ilham-65a358194" target="_blank">
                <img src="{% static 'Linkedin.png' %}"
            width="50" height="50">
             </a></center>
    </div>
</body>
</html>